<html>
	<body>
	<table border="0" style="border-collapse: collapse; margin-right: calc(0%); margin-left: calc(0%); width: 100%;" width="100%">
		<tbody>
			<tr>
				<td align="center" bgcolor="dodgerblue" style="font-size:25px;
			color:white;
			padding:40px 40px;
			border-radius:15px;
			background-image:linear-gradient(to bottom right,violet,purple,violet);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			text-align:center;">Update On Your Leave</td>
			</tr>
			<tr>
				<td style="padding : 10px 10px 10px 10px);">
	
					<table border="0" style="border-collapse: collapse; margin-right: calc(0%); margin-left: calc(0%); width: 100%;" width="100%">
						<tbody>
							<tr>
								<td align="center" style="padding: 20px 30px; background-color: rgb(255, 255, 255);">
	
									<table border="0" class="fr-dashed-borders" style="border-collapse: collapse; margin-right: calc(0%); margin-left: calc(0%); width: 100%;" width="100%">
										<tbody>
											<tr>
												<td style="padding: 10px; text-align: center; background-color: rgb(255, 255, 255); vertical-align: middle;">
													<div style="font-size: 25px;"><span style='font-family: "Times New Roman", Times, serif, -webkit-standard; font-size: 14px;'>Hello {{username}},</span></div>
													<div>The Leave you applied for is {{status}}.</div>
													<div style="font-size: 25px;"><span style="font-size: 14px;"><span style="font-family: Times New Roman,Times,serif,-webkit-standard;">Click this &nbsp;<a href="{{dashboard}}" style="border: 1px solid white;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color:purple;
	  text-align: center;
	  cursor: pointer;
	  border-radius:50px;">link</a> to view your Leave countdown.</span></span>
													</div>
	
													<p>Number of days applied for remaining: {{days_remaining}} day(s)</p>
													<div style="font-size: 25px;"><span style="font-size: 14px;"><br></span></div>
												</td>
											</tr>
										</tbody>
									</table>
									<br>
									<br>
								</td>
							</tr>
							<tr>
								<td align="center" bgcolor="slateblue" style="color: darkgray; font-size: 10px; height: 60px; vertical-align: middle; background-color: rgb(147, 101, 184);"><span style="color: rgb(255, 255, 255); font-size: 10px;">Copyright 2019&nbsp;</span><span style="font-size: 10px;">- <span style="color: rgb(239, 239, 239);">GWCL</span></span><strong style="color:dodgerblue;"><span style="font-size: 10px; color: rgb(239, 239, 239);">!</span></strong></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>	