{% extends "accounts/base.html" %}
{% block content %}

  <!-- Main content -->
  <div class="main-content" id="panel">

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">History</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/leaves/history/">History</a></li>
                  <li class="breadcrumb-item active" aria-current="page">all leaves</li>
                </ol>
              </nav>
            </div>
            <!-- <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <!-- Table -->
      <div class="row">
        <div class="col">

          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Leaves History</h3>
              <p class="text-sm mb-0">
                All Your Leaves are here
              </p>
              <div class="text-center text-muted mb-4">
                  {{form.non_field_errors}}
          
                            {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            {% if message.tags == "success" %}
                            <li style="color:green">{{ message }}</li>
                            {% elif message.tags == "warning" %}
                            <li style="color:orange">{{ message }}</li>
                            {% else %}
                            <li style="color:red">{{ message }}</li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
          </div>
            </div>
            <div class="table-responsive py-4">
              <table class="table table-flush" id="datatable-buttons">
                <thead class="thead-light">
                  <tr>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Started</th>
                    <th>On Pause</th>
                    <th>Ended</th>
                    <th>Admin Remark</th>
                    <th>Days</th>
                    <th>Days Remaining</th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Started</th>
                        <th>On Pause</th>
                        <th>Ended</th>
                        <th>Admin Remark</th>
                        <th>Days</th>
                        <th>Days Remaining</th>

                  </tr>
                </tfoot>


                <tbody>
                    {% for leave in object_list %}
                                      
                <tr>
                    <td><a href="/history/{{leave.id}}/">{{leave.leavetype}}</a></td>
                    <td>{{leave.fromDate}}</td>
                    <td>{{leave.toDate}}</td>
                    <td>{{leave.description}}</td>
                    {% if leave.status == "Approved" %}
                    <td style="color:green">{{leave.status}}</td>
                    {% endif %}
                    {% if leave.status == "Pending" %}
                    <td style="color:orange">{{leave.status}}</td>
                    {% endif %}
                    {% if leave.status == "Disapproved" %}
                    <td style="color:red">{{leave.status}}</td>
                    {% endif %}
                    <td>{{leave.started}}</td>
                    <td>{{leave.ended}}</td>
                    <td>{{leave.paused}}</td>
                    <td>{{leave.adminRemark}}</td>
                    <td>{{leave.days}}</td>
                    <td>{{leave.days_remaining}}</td>
                  </tr>
                    

                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
              <div class="copyright text-center text-lg-left text-muted">
                &copy; 2019 <a href="http://www.gwcl.com.gh/index.html" class="font-weight-bold ml-1" target="_blank">GHANA WATER COMPANY</a>
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="http://www.gwcl.com.gh/index.html" class="nav-link" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="http://www.gwcl.com.gh/index.html" class="nav-link" target="_blank">Contact Us</a>
                </li>
                <!-- <li class="nav-item">
                  <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link" target="_blank">License</a>
                </li> -->
              </ul>
            </div>
          </div>
        </footer>
    </div>
  </div>

  {% endblock content %}